<body class = "productbody">
<p id="notice"><%= notice %></p>
<h1 class = "producttitle">Vow Me!</h1>
<%= render 'form', product: @product %>

<% if not customer_signed_in? %>
	<%= link_to 'log in', new_customer_session_url %>
<% else %>
	<%= link_to 'log out', destroy_customer_session_url, method: :delete %>
<% end %>
<p><%= link_to 'View Cart' , cart_items_path %></p>

<% @categories.each do |category| %>
	<p><%= link_to category.name , category_path(category) %></p>
<% end %>


    <% @products.each do |product| %>

        <td><%= link_to image_tag( product.image_url) , product_path(product) %></td>



    <% end %>




<br>
</body>