<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>



<p>
  <strong>Category:</strong>
  <% puts @product.category.inspect%>
  <%= @product.category.name %>
</p>
<p>
<%= link_to image_tag(@product.image_url)%>
</p>

<!--<%= link_to 'Edit', edit_product_path(@product) %> |-->

<%= form_with scope: :cart_item, url: cart_items_path, local: true do |form| %>




  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field" >

    <%= form.hidden_field :product_id, value:@product.id %>
  </div>

  <div class="actions">

    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>