<!DOCTYPE html>
<html>
  <head>
    <title>Vow Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
  	<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color:#CCD238;">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  			<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item ">
  	<a class="nav-link" href="/cart_items">View Cart <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
  	<a class="nav-link" href="/categories/1">Dresses <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
  	<a class="nav-link" href="/categories/2">Accessories <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
  	<a class="nav-link" href="/categories/3">Shoes <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
  	<a class="nav-link" href="/">Back <span class="sr-only">(current)</span></a>
  </li>
  <%= form_tag(root_path, :method => "get",
    class: 'form-inline my-2 my-lg-0') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
    <div class="input-group-btn">
      <%= button_tag "search", :class => 'productsearchbutton',:name => nil%>
    </div>
  </div>
<% end %>

    </li>
  </ul>

  </nav>
    <%= yield %>
  </body>
</html>